{% extends 'landing/base.html' %}
{% load static %}
{% load cropping %}

{% block title %}
  Экоферма в Немцово
{% endblock %}

{% block content %}
  <section class="introduction">
    <div class="introduction__container container">
      <h1 class="introduction__title font-shadow main-title">Отдохните на природе</h1>
      <p class="introduction__description font-shadow">
        Откройте для себя Экоферму Немцово – уединенный уголок природы.
        Оздоровительные процедуры, собственные натуральные продукты, аренда домиков, экскурсии на ферму
      </p>
      <a href="#houses" class="booking-btn">Посмотреть</a>
      <div class="side-social-links">
        <a href="https://t.me/ecoferma_nemtsovo" class="side-social-links__link">
          <img src="{% static 'landing/svg/telegram-icon.svg' %}" alt="telegram">
        </a>
      </div>
      <img src="{% static 'landing/svg/down.svg' %}" class="main-header__down-icon" alt="стрелка вниз">
    </div>
  </section>

  <main>
    <section class="about-us">
      <div class="about-us__container container">
        <div class="about-us__content">
          <h2 class="about-us__title title">О Нас</h2>
          <div class="about-us__text-container">
            <p class="about-us__header">Добро пожаловать на нашу семейную
              "Экоферму&nbsp;в&nbsp;Немцово"&nbsp;❤️</p>
            <p class="about-us__text">🌿У нас вы найдете Комфортный отдых в окружении природы и прекрасных
              животных, а
              так
              же незабываемые эмоции
              и максимальное расслабление!</p>
            <p class="about-us__text">☀️ Это способ вернуться к себе и восстановить баланс сил и духа - побыть
              наедине
              с
              природой - вне
              зависимости от сезона.</p>
            <p class="about-us__text">🤍 Вас ждут просторные домики, уютная атмосфера и настоящая русская баня.
              На
              экоферме можно увидеть
              пасущихся коз, милых поросят, ласковых овец, прекрасных лошадей и курочек!</p>
            <span class="open-dialog-btn no-hover" dialog='about-owner-dialog'>О владельце</span>
          </div>
        </div>
        <img class="about-us__photo" src="{% static 'landing/svg/goat.svg' %}" alt="Козочка" loading="lazy">
      </div>
    </section>

    <!-- мероприятия и новости -->
    <section class="events-news" id="events-news">
      <div class="events-news__container container">
        <section class="events">
          <h3 class="events__title small-title">Мероприятия</h3>
          <div class="links-list">
            {% for future_event in future_events %}
              <span class="links-list__item">
                {{ future_event.title|truncatechars:"40" }} - {{ future_event.date|date:"d.m.Y" }}
              </span>
            {% empty %}
              <p>В ближайшее время мероприятий нет</p>
            {% endfor %}
            <a href="{% url 'events' %}" class="links-list__show-all-btn booking-btn">
              Посмотреть все
            </a>
          </div>
        </section>
        <section class="news">
          <h3 class="news__title small-title">Новости</h3>
          <div class="links-list">
            {% for news_item in news %}
              <span class="links-list__item">
                {{ news_item.title|truncatechars:"40" }}
              </span>
            {% empty %}
              <p>Новостей нет</p>
            {% endfor %}
            {% if news %}
              <a href="{% url 'news' %}" class="links-list__show-all-btn booking-btn">Посмотреть все</a>
            {% endif %}
          </div>
        </section>
      </div>
    </section>


    <!-- домики -->
    {% if houses %}
      <section class="houses" id="houses">
        <div class="houses__container container">
          <h2 class="houses__title title">Домики&nbsp;🏠</h2>
          <p class="houses-description description">
            У нас Вы можете арендовать различные домики со всеми условиями для проживания. Для детей: кровать-манеж,
            стульчик для кормления. Скидки при длительном
            проживании от 5 дней! (Раздел дополняется)
          </p>
          <section class="splide" id="houses-slider" aria-label="Домики">
            <div class="splide__track">
              <ul class="splide__list">
                {% for house in houses %}
                  <li class="splide__slide">
                    <article class="slide">
                      <div class="slide__photos">
                        {% for media in house.media.all %}
                          <div class="f-carousel__slide">
                            <a data-fancybox="{{ house.get_unique_name }}"
                               data-src="{{ media.file.url }}"
                               {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                              {% if media.is_video %}
                                <video src="{{ media.file.url }}"></video>
                              {% else %}
                                <img data-lazy-src="{% cropped_thumbnail media 'miniature' %}" alt="Домик"
                                     loading="lazy">
                              {% endif %}
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                      <section class="slide__content">
                        <header class="slide__header">
                          <span class="slide__title">{{ house.name }}</span>
                          {% if house.is_free %}
                            <span class="slide__price free">Бесплатно</span>
                          {% else %}
                            <span class="slide__price">{{ house.start_price }}<span
                                class="period">{{ house.get_duration_if_it_gte_1|default:"" }}{{ house.get_pluralized_period }}</span>
                        </span>
                          {% endif %}
                        </header>
                        <p class="slide__description">
                          {{ house.description }}
                          {% if house.additional_info %}
                            <span class="open-dialog-btn" dialog="{{ house.additional_info.get_unique_name }}">
                          {{ house.additional_info.displayed_name }}
                        </span>
                          {% endif %}
                        </p>
                        {% if house.booking_identifier %}
                          <button
                              class="slide__booking-btn booking-btn open-booking-dialog"
                              onclick="onOpenBookingDialog(
                                  '{{ house.name }}',
                                  '{{ house.booking_identifier_id }}',
                                  {{ house.period_id }},
                                  '{{ house.booking_btn_text }}')">
                            {{ house.booking_btn_text }}
                          </button>
                        {% endif %}
                      </section>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </section>
    {% endif %}

    <!-- Полезно для здоровья  -->
    {% if wellness_treatments %}
      <section class="wellness-treatments" id="wellness-treatments">
        <div class="wellness-treatments__container container">
          <h2 class="wellness-treatments__title title">
            Полезно для здоровья 😊
          </h2>
          <p class="wellness-treatments__description description">
            Оздоровительные процедуры на нашей экоферме представляют собой уникальное сочетание природных элементов и
            профессионального ухода, направленного на восстановление здоровья и гармонии организма (Раздел дополняется)
          </p>
          <section class="splide" id="wellness-treatments-slider" aria-label="Оздоровительные процедуры">
            <div class="splide__track">
              <ul class="splide__list">
                {% for wellness_treatment in wellness_treatments %}
                  <li class="splide__slide">
                    <article class="slide">
                      <div class="slide__photos">
                        {% for media in wellness_treatment.media.all %}
                          <div class="f-carousel__slide">
                            <a data-fancybox="{{ wellness_treatment.get_unique_name }}"
                               data-src="{{ media.file.url }}"
                               {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                              {% if media.is_video %}
                                <video src="{{ media.file.url }}"></video>
                              {% else %}
                                <img data-lazy-src="{% cropped_thumbnail media 'miniature' %}"
                                     alt="Оздоровительная процедура" loading="lazy">
                              {% endif %}
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                      <section class="slide__content">
                        <header class="slide__header">
                          <span class="slide__title">{{ wellness_treatment.name }}</span>
                          {% if wellness_treatment.is_free %}
                            <span class="slide__price free">Бесплатно</span>
                          {% else %}
                            <span class="slide__price">{{ wellness_treatment.start_price }}<span
                                class="period">{{ wellness_treatment.get_duration_if_it_gte_1|default:"" }}{{ wellness_treatment.get_pluralized_period }}</span>
                        </span>
                          {% endif %}
                        </header>
                        <p class="slide__description">
                          {{ wellness_treatment.description }}
                          {% if wellness_treatment.additional_info %}
                            <span class="open-dialog-btn"
                                  dialog="{{ wellness_treatment.additional_info.get_unique_name }}">
                          {{ wellness_treatment.additional_info.displayed_name }}
                        </span>
                          {% endif %}
                        </p>
                        {% if wellness_treatment.booking_identifier %}
                          <button
                              class="slide__booking-btn booking-btn open-booking-dialog"
                              onclick="onOpenBookingDialog(
                                  '{{ wellness_treatment.name }}',
                                  '{{ wellness_treatment.booking_identifier_id }}',
                                  {{ wellness_treatment.period_id }},
                                  '{{ wellness_treatment.booking_btn_text }}')">
                            {{ wellness_treatment.booking_btn_text }}
                          </button>
                        {% endif %}
                      </section>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </section>
    {% endif %}

    <!-- Досуг -->
    {% if actions %}
      <section class="actions" id="actions">
        <div class="actions__container container">
          <h2 class="actions__title title">Чем у нас можно заняться? 🐎</h2>
          <p class="actions__description description">
            Заведите дружбу с нашими милыми
            животными и многое другое. У нас всегда найдется что-то увлекательное для каждого
            посетителя! (Раздел дополняется)
          <section class="splide" id="actions-slider" aria-label="Досуг">
            <div class="splide__track">
              <ul class="splide__list">
                {% for action in actions %}
                  <li class="splide__slide">
                    <article class="slide">
                      <div class="slide__photos">
                        {% for media in action.media.all %}
                          <div class="f-carousel__slide">
                            <a data-fancybox="{{ action.get_unique_name }}"
                               data-src="{{ media.file.url }}"
                               {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                              {% if media.is_video %}
                                <video src="{{ media.file.url }}"></video>
                              {% else %}
                                <img data-lazy-src="{% cropped_thumbnail media 'miniature' %}" alt="Досуг"
                                     loading="lazy">
                              {% endif %}
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                      <section class="slide__content">
                        <header class="slide__header">
                          <span class="slide__title">{{ action.name }}</span>
                          {% if action.is_free %}
                            <span class="slide__price free">Бесплатно</span>
                          {% else %}
                            <span class="slide__price">{{ action.start_price }}<span
                                class="period">{{ action.get_duration_if_it_gte_1|default:"" }}{{ action.get_pluralized_period }}</span>
                        </span>
                          {% endif %}
                        </header>
                        <p class="slide__description">
                          {{ action.description }}
                          {% if action.additional_info %}
                            <span class="open-dialog-btn" dialog="{{ action.additional_info.get_unique_name }}">
                          {{ action.additional_info.displayed_name }}
                        </span>
                          {% endif %}
                        </p>
                        {% if action.booking_identifier %}
                          <button
                              class="slide__booking-btn booking-btn open-booking-dialog"
                              onclick="onOpenBookingDialog(
                                  '{{ action.name }}',
                                  '{{ action.booking_identifier_id }}',
                                  {{ action.period_id }},
                                  '{{ action.booking_btn_text }}')">
                            {{ action.booking_btn_text }}
                          </button>
                        {% endif %}
                      </section>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </section>
    {% endif %}

    <!-- Наша продукция -->
    <section class="our-products" id="our-products">
      <div class="our-products__container container">
        <h2 class="our-products__title title">Наша продукция 🧀</h2>
        <p class="our-products__description description">
          На нашей экоферме вы можете продегустировать и купить продукцию нашего собственного производства. Также
          у нас
          есть регулярная доставка до города Москва. (Раздел дополняется)
        </p>
        <ul class="our-products__list">
          {% for our_product in our_products %}
            <li class="our-products__list-item">{{ our_product.name }}</li>
          {% empty %}
            <p class="description">Нет в наличии</p>
          {% endfor %}
        </ul>
      {% if our_products %}
        <div class="our-products__btn-container">
          <a href='{% url "our_products" %}' class="our-products__btn booking-btn">Посмотреть всё</a>
        </div>
      </div>
    {% endif %}
    </section>

    <!-- Наши питомыцы -->
    {% if our_pets %}
      <section class="our-pets" id="our-pets">
        <div class="our-pets__container container">
          <h2 class="our-pets__title title">Наши питомцы 🐏</h2>
          <p class="our-pets__description description">Здесь вы найдете удивительные фотографии животных, которые стали
            неотъемлемой
            частью нашей экофермы. От мягких мордочек до перьев и шерсти, каждый наш питомец несет в себе частичку
            радости
            и неповторимости (Раздел дополняется)
          </p>
          <section class="splide" id="our-pets-slider" aria-label="Наши питомцы">
            <div class="splide__track">
              <ul class="splide__list">
                {% for our_pet in our_pets %}
                  <li class="splide__slide">
                    <article class="slide">
                      <div class="slide__photos">
                        {% for media in our_pet.media.all %}
                          <div class="f-carousel__slide">
                            <a data-fancybox="{{ our_pet.get_unique_name }}"
                               data-src="{{ media.file.url }}"
                               {% if media.is_video %}data-thumb="{% static 'landing/img/video-stub.png' %}"{% endif %}>
                              {% if media.is_video %}
                                <video src="{{ media.file.url }}"></video>
                              {% else %}
                                <img data-lazy-src="{% cropped_thumbnail media 'miniature' %}" alt="Питомец"
                                     loading="lazy">
                              {% endif %}
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                      <section class="slide__content">
                        <header class="slide__header">
                          <span class="slide__title">{{ our_pet.name }}</span>
                        </header>
                        <p class="slide__description">
                          {{ our_pet.description }}
                        </p>
                      </section>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </section>
    {% endif %}

    <!-- Контакты -->
    <section class="contacts" id="contacts">
      <div class="contacts__container container">
        <h2 class="contacts__title title">Контакты</h2>
        <div class="contacts__content">
          <div class="contacts-item">
            <img class="contacts-item__icon" src="{% static 'landing/svg/telegram-icon.svg' %}" loading="lazy"
                 alt="whatsapp">
            <a class="contacts-item__text" href='https://t.me/Nemtsovo_life_ecofarm'>+7 926 915-91-53</a>
          </div>
          <div class="contacts-item">
            <img class="contacts-item__icon" src="{% static 'landing/svg/telegram-icon.svg' %}" loading="lazy"
                 alt="telegram">
            <a class="contacts-item__text"
               href='https://t.me/ecoferma_nemtsovo'>@ecoferma_nemtsovo</a>
          </div>
          <div class="contacts-item">
            <img class="contacts-item__icon" src="{% static 'landing/svg/address-icon.svg' %}" loading="lazy"
                 alt="address">
            <a class="contacts-item__text" href='https://yandex.ru/maps/org/semeynaya_ekoferma/89743823636'>Московская
              область, городской округ Домодедово, деревня Немцово</a>
          </div>
          <div class="contacts-item">
            <img class="contacts-item__icon" src="{% static 'landing/svg/clock-icon.svg' %}" alt="clock">
            <span class="contacts-item__text">Время работы: 08:00-21:00</span>
          </div>
        </div>
      </div>
    </section>

    <!-- Карта -->
    <section class="map" id="map">
      <div class="map__container container">
        <h2 class="map__title title">Карта территории 🗺️</h2>
        <div class="map__content">
          <a data-fancybox="Карта" data-src="{% static "landing/img/map.jpg" %}">
            <img src="{% static "landing/img/map-small.jpg" %}" alt="Карта" loading="lazy">
            <p>Нажмите, чтобы приблизить&nbsp;🔎</p>
          </a>
        </div>
      </div>
    </section>
  </main>

  <div class="dialogs">

    <dialog class="dialog" id="about-owner-dialog">
      <header class="dialog__header">
        <h3 class="dialog__title">О владельце</h3>
        <button class="close-dialog-btn">❌</button>
      </header>
      <div class="dialog__content">
        <p>Здравствуйте, дорогие друзья!</p>
        <p>Рада приветствовать вас на нашем сайте!&nbsp;❤️</p>
        <br/>
        <p>Давайте познакомимся ближе?🤗</p>
        <br/>
        <p>
          Меня зовут Елена Шатохина,  являюсь главой крестьянско-фермерского хозяйства Шатохина Е.Э., 
          или как всем привычней слышать Семейная экоферма в Немцово&nbsp;👋
        </p>
        <div class="img-container">
          <img src="{% static 'landing/img/owner.jpg' %}" alt="Елена" />
        </div>
        <p>
          Немного расскажу о себе.
          По образованию я психолог, зоотехник, фермер.
          Эти грани помогают мне создавать пространство, где переплетаются любовь к природе, 
          забота о животных и понимание человеческой души 🤍
        </p>
        <br/>
        <p>
          Хочу создать (и надеюсь уже создаю&nbsp;😊) свой мир, где будет царить счастье, гармония с природой, 
          с животными и очень важное с самим собой.
        </p>
        <br/>
        <p>
          Чтобы каждый гость, попадая в этот мир, чувствовал заботу, тепло, чувствовал нашу энергетику и получал 
          знания о себе, через нас, через общение с животными, наполнялся силой природы и находил внутренний баланс.
        </p>
        <p>Чтобы напитанные этим позитивным состоянием могли двигаться дальше и свершать великие дела!&nbsp;🔥</p>
        <br/>
        <p>До встречи на Семейной экоферме в Немцово!&nbsp;❤️</p>
      </div>
    </dialog>

    {% if additional_info %}
      {% for info in additional_info %}
        <dialog class="dialog" id="{{ info.get_unique_name }}">
          <header class="dialog__header">
            <h3 class="dialog__title">{{ info.displayed_name }}</h3>
            <button class="close-dialog-btn">❌</button>
          </header>
          <div class="dialog__content">
            <ul>
              {% for item in info.additionalinfoitem_set.all %}
                <li>{{ item.text }}</li>
              {% endfor %}
            </ul>
          </div>
        </dialog>
      {% endfor %}
    {% endif %}

    <dialog class="dialog" id="booking-dialog">
      <header class="dialog__header">
        <h3 class="dialog__title">Бронирование</h3>
        <button class="close-dialog-btn">❌</button>
      </header>
      <div class="dialog__content">
        <form action="{% url 'add_booking' %}" class="booking-form">
          {% csrf_token %}
          <div class="form-elem">
            <label for="fio">ФИО</label>
            <input type="text" id="fio" placeholder="Иванов Иван Иванович" name="fio" required>
          </div>
          <div class="form-elem">
            <label for="phone">Телефон</label>
            <input type="tel" placeholder="81234567890" min="10" id="phone" name="phone" required
                   pattern="^(\+7|7|8)?[\s\-]?\(?[489][0-9]{2}\)?[\s\-]?[0-9]{3}[\s\-]?[0-9]{2}[\s\-]?[0-9]{2}$"
                   oninvalid="this.setCustomValidity('Пожалуйста, укажите свой номер телефона без пробелов и скобок')"
                   oninput="this.setCustomValidity('')">
          </div>
          <div class="form-elem">
            <label for="adults">Кол-во человек</label>
            <input type="number" min="1" id="adults" value="1" name="adults" required>
          </div>
          <span class="help-text">Пожалуйста, учитывайте, что стоимость указана на определённое кол-во человек (не включая детей до 8-ми лет). Подробнее читайте в условиях.</span>
          <div class="form-elem">
            <label for="childrens">Кол-во детей до 8-ми лет</label>
            <input type="number" min="0" id="childrens" value="0" name="childrens" required>
          </div>
          <span class="help-text">Дети до 8-ми лет бесплатно</span>
          <div class="form-elem">
            <label for="date">Желаемые даты</label>
            <input id="date" name="date" required onkeydown="return false;"
                   style="caret-color: transparent !important;" autocomplete="off">
          </div>
          <div class="form-elem form-elem--inline">
            <label for="early-checkin">Ранний заезд</label>
            <input type="checkbox" id="early-checkin" name="earlyCheckin">
            <label for="late-checkout">Поздний выезд</label>
            <input type="checkbox" id="late-checkout" name="lateCheckout">
          </div>
          <div class="form-elem form-elem--inline">
            <label for="whatsapp">У меня есть Telegram</label>
            <input type="checkbox" id="whatsapp" name="whatsapp">
          </div>
          <span class="help-text">Если Вам будет удобней связаться по Telegram, а не разговаривать по телефону</span>
          <div class="form-elem">
            <label for="comment">Ваши вопросы и пожелания</label>
            <textarea id="comment" name="comment" style="resize: none"></textarea>
          </div>
          <span class="help-text" style="margin-top: 1vh">
            Нажимая кнопку ниже, вы соглашаетесь с
            <a href="{% static 'landing/files/obrabotka_pd.pdf' %}" target="_blank" style="text-decoration: underline">
              политикой обработки персональных данных
            </a>
          </span>
          <button class="booking-btn" id="add-booking-btn">Забронировать</button>
        </form>
      </div>
    </dialog>
    <dialog class="dialog" id="booking-result-dialog--success">
      <header class="dialog__header">
        <button class="close-dialog-btn">❌</button>
      </header>
      <div class="dialog__content">
        <div class="booking-result booking-result">
          <span class="booking-result__title small-title">Спасибо за оставленную заявку! 😊</span>
          <span class="booking-result__add-message">В скором времени мы свяжемся с Вами!</span>
          <a class="booking-btn booking-result__btn" href="https://t.me/Nemtsovo_life_ecofarm">Написать нам</a>
        </div>
      </div>
    </dialog>
    <dialog class="dialog" id="booking-result-dialog--failure">
      <header class="dialog__header">
        <button class="close-dialog-btn">❌</button>
      </header>
      <div class="dialog__content">
        <div class="booking-result booking-result">
          <span class="booking-result__title small-title">Что-то пошло не так 😔</span>
          <span class="booking-result__add-message">Простите за неудобства, но у нас что-то пошло не так. Попробуйте ещё раз или напишите нам напрямую.</span>
          <a class="booking-btn booking-result__btn" href="https://t.me/Nemtsovo_life_ecofarm">Написать нам</a>
        </div>
      </div>
    </dialog>
  </div>
  
  <img src="https://mc.yandex.ru/watch/97630716" style="position:absolute; left:-9999px;" alt="" />

{% endblock %}

{% block javascript %}
  <script src="{% static 'landing/js/init-splide.js' %}"></script>
  <script src="{% static 'landing/js/init-fancybox-index-carousels.js' %}"></script>
  <script src="{% static 'landing/js/init-fancybox.js' %}"></script>
{% endblock %}